:root {
    --primary-color: #296888; /* cerulean */
    --secondary-color: #537F66; /* sage green */  /* #598773 #a7c189*/
    --accent1-color: #a44620; /* rusty spice */
    --accent2-color: #052376; /* mustard yellow */
    --heading-font: Georgia, Garamond, serif;
    --body-font: Verdana, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* background-color: var(--primary-color); */
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 400px 1fr;
    align-items: center;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}


h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff /* white text - make sure there is enough contrast with the background-color */
}


article {
    position: absolute;
    bottom: 5px;
    right: -5px;
    left: -7px;
    width: 98%;
    padding: 16px;
    background-color: var(--secondary-color);
    color: #fff;
}


/* Class Selectors */

.header img {
    position: relative;
    left: 50px;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
    object-fit: cover;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

.section img {
    width: 200px;
}

.section-hist {
    display: grid;
    grid-template-columns: 1fr 25% 1fr;
    grid-template-rows: 20% 80%;
}

.full-row-item {
    grid-column: 1 / 4;
    align-items: baseline;
}

.section-adventure {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px; 
}

.section-adventure img {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 150px;
}

.footer {
    display: flex;
    justify-content: center;
    position: relative;
}

.socialmedia {
    position: absolute;
    right: 10px;
    bottom: 1px;
    margin: 0;
}

/* ===========================================
   Contact Page Class Selectors / Overrides 
   =========================================== */

.contact-page-layout h1 {
    position: static;    /* overrides absolute position*/
    top: auto;           /* overrides top*/
    text-align: center;
    opacity: 1.0;
    color: var(--primary-color);
    background: none;
}

.contact-page-layout section {
    text-align: center; 
}

.contact-page-layout p {
    line-height: .5px;
}


.section-staff {
    display: flex;
    justify-content: center;
    flex-wrap: no-wrap;
    gap: 5px;
}

.section-staff img {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 10px;
    width: 170px;
    gap: 5px;
}

/* .contact-page-layout article {
    box-sizing: border-box;
    border: 1px solid #000;
    background: transparent;
    color: var(--accent2-color);
    position: static;
    width: 100%;
    bottom: auto;
    left: auto;
}

.contact-page-layout article img {
    padding: 5px;
} */

/* ---------------------------------- */


/* article {
    position: absolute;
    bottom: 5px;
    right: -5px;
    left: -7px;
    width: 98%;
    padding: 16px;
    background-color: var(--secondary-color);
    color: #fff;
} */

/* .section-adventure {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px; 
}

.section-adventure img {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 150px;
} */

form {
    display: grid;
    width: 600px;
    padding: 1rem;
    margin: 5px auto;
}

fieldset {
    display: grid;
    gap: 0.75rem;
    margin: 1.2rem;
    padding: 1rem;
    border: none;
}

label, input, button, textarea {
    font-family: var(--body-font);
    font-size: 1.1rem;
    color: var(--accent2-color);
}

label {
    text-align: right;
    padding: 1rem;
}

input, textarea, button {
    padding: 0.25rem;
    font-size: 1.2rem;
    border-radius: 0.25em;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    position: right;
    vertical-align: bottom;
    padding: 0.5px;
    margin-right: 10px;
}

input[type="radio"] {
    margin-right: 6px;
    width: 1.1rem;
    height: 1.1rem;
}

button {
    margin: 1rem;
    background-color: var(--accent2-color);
    color: #fff;
}

button:hover {
    background-color: var(--secondary-color);
} 



.map-form-layout {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.map-container {
    /* width: 40%; */
}

.form-container {
    width: 60%;
}


.form-item {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 2fr; */
}

.form-item label {
    text-align: left;
}

.purpose {
    display: flex;
    align-items: center;
    gap: 10px;
}

.purpose-label {
    font-family: var(--body-font);
    font-size: 1.1rem;
    color: var(--accent2-color);
}

.purpose-options {
    display: flex;
    flex-direction: column;
    align-self: flex-start; 
    
}

.purpose-options label {
    display: block;
    text-align: left;
}

