:root {
    --primary-color: #296888; /* cerulean */
    --secondary-color: #537F66; /* sage green */  /* #598773 #a7c189*/
    --accent1-color: #a44620; /* rusty spice */
    --accent2-color: #052376; /* mustard yellow */
    --heading-font: Georgia, Garamond, serif;
    --body-font: Verdana, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    /* background-color: var(--primary-color); */
    color: var(--secondary-color);
    display: grid;
    grid-template-columns: 400px 1fr;
    align-items: center;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}


h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: #fff /* white text - make sure there is enough contrast with the background-color */
}

h2 {
    font-size: 1.75rem;
}


article {
    position: absolute;
    bottom: 5px;
    right: -5px;
    left: -7px;
    width: 98%;
    padding: 16px;
    background-color: var(--secondary-color);
    color: #fff;
}

p {
    font-size: 1.1rem;
    color: #000;
}

/* Class Selectors */

.header img {
    position: relative;
    left: 50px;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation li {
    flex: 1 1 auto;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero article {
    position: absolute;
    object-fit: cover;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero article img {
    float: right;
    width: 125px;
}

.hero article p {
    color: #fff;
}

.section img {
    width: 200px;
}

.section-hist {
    display: grid;
    grid-template-columns: 1fr 25% 1fr;
    grid-template-rows: 20% 80%;
}

.full-row-item {
    grid-column: 1 / 4;
    align-items: baseline;
}

.section-adventure {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px; 
}

.section-adventure img {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 150px;
}

.footer {
    display: flex;
    justify-content: center;
    position: relative;
    padding-top: 25px;
}

.footer p {
    color: var(--accent1-color);
}

.socialmedia {
    position: absolute;
    right: 10px;
    bottom: 1px;
    margin: 0;
}

/* ===========================================
   Contact Page Class Selectors / Overrides 
   =========================================== */

.contact-page-layout h1 {
    position: static;    /* overrides absolute position*/
    top: auto;           /* overrides top*/
    text-align: center;
    opacity: 1.0;
    color: var(--primary-color);
    background: none;

        position: static;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 100%;
    background-color: var(--accent2-color);
    color: #fff;
    margin: 1rem;
}

.contact-page-layout section {
    text-align: center; 
}

.contact-page-layout p {
    line-height: .5px;
}

.section-staff {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    gap: 5px;
}

.section-staff img {
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 10px;
    width: 170px;
    gap: 5px;
}


form {
    display: grid;
    width: 600px;
    padding: 1rem;
    margin: 5px auto;
}

fieldset {
    display: grid;
    gap: 0.75rem;
    margin: 1.2rem;
    padding: 1rem;
    border: none;
}

label, input, button, textarea {
    font-family: var(--body-font);
    font-size: 1.1rem;
    color: var(--accent2-color);
}

label {
    text-align: right;
    padding: 1rem;
}

input, textarea, button {
    padding: 0.25rem;
    font-size: 1.2rem;
    border-radius: 0.25em;
}

input[type="checkbox"] {
    width: 22px;
    height: 22px;
    /* position: right; */
    vertical-align: bottom;
    padding: 0.5px;
    margin-right: 10px;
}

input[type="radio"] {
    margin-right: 6px;
    width: 1.1rem;
    height: 1.1rem;
}

button {
    margin: 1rem;
    background-color: var(--accent2-color);
    color: #fff;
}

button:hover {
    background-color: var(--secondary-color);
} 

.map-form-layout {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.form-container {
    width: 60%;
}

.form-item {
    display: grid;
    grid-template-columns: 1fr;
    /* grid-template-rows: 2fr; */
}

.form-item label {
    text-align: left;
}

.purpose {
    display: flex;
    align-items: center;
    gap: 10px;
}

.purpose-label {
    font-family: var(--body-font);
    font-size: 1.1rem;
    color: var(--accent2-color);
}

.purpose-options {
    display: flex;
    flex-direction: column;
    align-self: flex-start; 
}

.purpose-options label {
    display: block;
    text-align: left;
}

/* Home Page Layout Class Selectors */
.index-layout {
    display: flex;
    flex-direction: column;
    
   
}

.index-layout body {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}


.index-layout h1 {
    grid-column-start: 1;
    grid-column-end: 4;
    position: absolute;
    top: 420px;          
    color: #fff;
    background-color: var(--accent2-color);
    line-height: 2.5rem;
    opacity: 100%;
}

        /* Not sure why having this one active effects the border and location of the form */
/* .index-layout p {
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: #000 
} */

.index-layout form {
    /* background-color: var(--secondary-color); */
    /* align: center; */
    /* grid-column: 2/3; */
    border: var(--accent1-color) solid 3px;
    border-radius: 0.8rem;
    margin: 20px;
    display: flex;
    flex-direction: column;
    
}

#flex-layout {
    display: flex;
    gap: 10px;
    flex-direction: row;
}

#book-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.index-layout-button {
    font-family: var(--body-font);
    font-size: 1.5em;
    padding: 15px;
    border-radius: 0.2px;
    background-color: var(--primary-color);
    color: #fff;
    /* margin: 1rem; */
    width: 100%;
    
}

.index-layout button a {
    color: inherit;        /* allows hyperlink to inherit color of parent (?) - in this case white*/
    text-decoration: none;
}

.index-layout article {
    position: relative;
    background-color: #fff;
    color: var(--secondary-color);
    /* border: #000 solid 0.1rem; */
    height: auto;
}

.purpose {
    padding: 1rem;
    /* background-color: #ccc; */
}

/* Grid Container */
.purpose-grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0.5rem;
    /* border: #000 solid 1px; */
    /* justify-items: center; */
    
}

.purpose-grid-card {
    display: flex;
    flex-direction: column;    /*this made the images fit inside the columns*/
    padding: 1rem;
}

.purpose-grid-card h3 {
    margin: 1rem;
    text-align: center;
    font-size: 1.3rem;
    font-family: var(--heading-font); 
    border-bottom: var(--secondary-color) solid;
}

.purpose-grid-card img {
    padding: 0.5rem;
    width: 100%;
    height: auto;
}

.purpose-grid-card p {
    color: #000;
    line-height: 1.5;
}

.purpose-grid-card ul {
    color: #000;
    line-height: 1.5;
    padding-left: 30px;
}

/* Trips Page Class Selectors */


.trips-layout h1 {
    position: static;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 100%;
    background-color: var(--accent2-color);
    color: #fff;
    margin: 1rem;
}

#trips-layout-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: var(--body-font);
    font-size: 1.5em;
    padding: 15px 100px;
    border-radius: 0.2px;
    background-color: var(--primary-color);
    color: #fff;
    margin: 1rem;
    width: 75%;
}

.trips-layout button {
    display: flex;
    justify-content: center;
    align-content: center;
}

.trips-layout button a {
    display: flex;
    justify-content: center;
    align-content: center;
    color: inherit;
    text-decoration: none;
}


.trips-layout-section {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    align-items: baseline;
}

#trips-highlights {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    align-items: baseline;
    font-size: 1.2rem;
    
}



.trips-layout-section img {
    display: flex;
    justify-content: center;
    align-items: baseline;
    width: 200px;
}

.trips-layout-section figcaption {
    font-size: 2rem;
}

.trips-layout-table {
    border-collapse: collapse;
    border: #000 solid 2px;
    margin: 25px auto;
    font-size: 1.2rem;
    /* min-width: 400px; */
    width: 100%;
}

.trips-layout-table thead tr th {
    background-color: var(--secondary-color);
    color: #fff;
    height: 50px;
    text-align: center;

}

.trips-layout-table th,
.trips-layout-table td {
    padding: 10px 25px;
    border-bottom: var(--secondary-color) solid;
    color: #000;
}